<ng-container *ngIf="userName == 'Guest'">
  <div class="nav-link dropdown">
      <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{userName}}
      </a>
      <div class="dropdown-menu">
        <a  class="dropdown-item" routerLink="/register" >Register</a>
        <a  class="dropdown-item" routerLink="/login" >Login</a>
      </div>
  </div>
</ng-container>
<ng-container *ngIf="userName !== 'Guest'">
  <div class="nav-link dropdown">
      <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{userName}}
      </a>
      <div class="dropdown-menu">
        <app-logout></app-logout>
      </div>
  </div>
</ng-container>